body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

header, footer {
    background-color: gray;
    color: white;
    padding: 1%;
    margin-top: 1%;
}

section.tagging {
    width: 25%;
}

section.tagging input, label {
    display: block;
}

input {
    height: 30px;
}

section.discovery {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    justify-content: space-between;
    width: 70%;
}

div.container-tag {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    justify-content: space-between;
    margin-top: 1%;
}

div.page-buttons {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    justify-content: space-between;
}

#pages input{
    background: #00B7FF;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    justify-content: space-between;
}

ul li {
    height: 3%;
    background: #00B7FF;
    padding: 3px;
    margin: 0px 3px 3px 3px;
    line-height: 30px;
    color: white;
}

ul {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 5px;
}

@media screen and (max-width: 1000px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        justify-content: space-between;
    }

    div.container-tag {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        justify-content: space-between;
    }

    section.discovery {
        width: 100%;
    }

    section.tagging {
        width: 100%;
    }
}
